.css-16jesut >.ps-menu-button {
    padding-left: 5px !important;
}


aside{
    width:80% !important;
}



.css-dip3t8{
    background-color: white !important;
}

.ps-menu-label > a{
    text-decoration: none !important;
    color: black !important;
    font-size: 16px !important;
  }

  .ps-menu-label > a:hover{
    border-bottom: none !important;
  }



  


@media screen and (max-width: 1200px) {
    .css-1wvake5{
        min-width: 235px !important;
        border-right-style: solid !important;
    }
    .css-1tqrhto >.ps-menu-button{
        padding-left: 30px !important;
    }
  }

